/* ================== Imports ================== */
@import "../scss/fonts";
@import "../scss/variables";

/* ================== Global ================== */
html, body {
  font-family: $fontContent;
}
div.container {
  background: $colorLite;
}
a,
form,
.singleContent,
.cities,
.tag,
.adxExtraInfoPart,
.pagination {
  font-family: $fontContent;
  font-size: $fontNormal;
}
#AJAXloaded > div > ul > li > a {
  border: 1px solid $colorDark;
  color: $colorDark;
}
#AJAXloaded > div.loadmore > ul.pagination > li > a {
  border: 1px solid $colorDark !important;
  font-size: larger;
}

div#searchPage {
  font-size: large;
  font-family: $fontContent;
  color: $colorDark;
}

/* Related Tags */
div#AJAXloaded > div.loadmore > ul.relatedTags,
ul.relatedTags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  li {
    border: 1px solid $colorDark;
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
    font-size: medium;
  }
}

/* Image grid view */
a > .fa.fa-camera-retro.left,
.switchPicTag {
  display: none;
}
a[href="/car_سيارات"],
a[href="/car_سيارات"] + br {
  display: none;
}
/* remove gap after +add classified button */
div.singleContent  {
  br {
    display: none
  }
}
/* remove gap after main page tags */
div#mainPage {
  a.tagTab + br {
    display: none;
  }
}

/* Nested Tabs */
div.nestedTabs {
  div.nestedLevel > ul {
    background: none;
  }
}
/* remove last hr */
#cityPage > hr,
#mainPage > hr {
  display: none;
}

/* Footer */
footer {
  div.singleContent {
    display: grid;
    padding: 1.0em;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.0em;
    margin: 1.0em;
    a {
      font-size: large;
    }
  }
  br, hr {
    display: none;
  }
}

footer,
.alert {
  font-family: $fontContent;
}
.relatedTags>li, .relatedTags>li>a {
  color: $colorDark;
}

/* Tags bullet list */
#AJAXloaded > div > ul > li > a {
  border: 0px !important;
}

/* ================== Main Page Listing Container ================== */
.adsx { /* main container */
  padding: 1.0em;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.0em;
  hr { display: none; }
  br { display: none; }
}
.adx.odd, .adx.even {
  border-radius: 5px;
  background: white;
  padding: 1.0em 1.0em 2.0em 1.0em;
  border: 1px solid $colorDark !important;
}
#AJAXloaded.edited {
  display: contents;
}
.adxImg a img {
  border-radius: 4px;
  border: 1px solid $colorDark;
  width: auto !important;
  &[src*="clear.gif"] {
    display: none;
  }
}
.loadmore {
  display: block;
}


/* ================== Post ================== */
div.adxHeader {
  border: 1px solid $colorDark !important;
  h3 {
    font-family: $fontTitle;
    font-size: $fontLarge !important;
    color: $colorDark !important;
  }
  div.adxExtraInfo {
    font-size: large;
  }
}
.adxBody {
  border: 1px solid $colorDark !important;
  border-top: none !important;
  font-family: $fontContent !important;
  font-size: $fontLarge !important;
  img {
  border: 1px solid $colorDark;
  border-radius: 4px;
  }
}
/* Alerts */
div.alert {
  border: 1px solid $colorDark;
  font-size: $fontLarge !important;
}

.alert-warning {
  font-size: $fontLarge !important;
}
/* remove <br> after contact label and contact information, since line breaks are unnecessary */
.contact br {
  display: none !important;
}
/* Green and red rating notice inside of post */
div.rating {
  font-family: $fontContent;
}

.label-success {
  background: $colorLite !important;
  font-size: large !important;
}
.input-icon-wrap span,
.input-icon-wrap a,
.input-icon-wrap i {
  color: $colorDark !important;
}
.metaBody br {
  display: none;
}
.tagTab {
  border: 1px solid $colorDark !important;
  background: $colorLite !important;
  color: $colorDark !important;
  font-family: $fontContent !important;
}

/* ================== Main page post ================== */
div.adsx > div.adx > div.adxInfo,
div.adx > div.adxInfo {
  div.adxTitle {
    white-space: normal; /* wrap titles */
  }
  div.adxTitle > a:link {
    font-family: $fontTitle;
    color: $colorDark !important;
  }
  div.adxTitle > a:visited {
    color: $colorDark !important;
  }
  div.adxExtraInfo > div.adxExtraInfoPart,
  div.adxExtraInfo > div.adxExtraInfoPart > a {
    font-size: large;
  }
}

/* ================== Picture list (for related posts of deleted post ================== */
div.adxViewContainer {
  div.adsxPic {
    display: grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.0em;
    margin: 1.0em;
    border-radius: 3px;
    div.adxImg {
      margin: 0px;
      border: 1px solid $colorDark;
      padding: 0.8em;
      background: white;
      width: unset !important;
      max-width: none !important;
      height: auto !important;
      img {
        float: left;
        border: 1px solid $colorDark;
        // max-width: 120px !important;
        // height: auto !important;
        max-height: 80px !important;
        width: auto !important;
      }
      a {
        font-size: $fontNormal;
        font-family: $fontTitle;
        font-weight: bold;
      }
      br { display: none }
    }
  }
}

/* ================== Side Bar (RIGHT) ================== */
div.container > div.side {
  font-family: $fontContent;
  font-size: large;
  div > a.tagTab {
    line-height: 1em;
    display: inline-block;
    margin-bottom: 0.6em;
  }
}

/* ================== Side Bar (RIGHT) Marks ================== */
div.side {
  hr {
    color: $colorDark;
    background: $colorDark !important;
    height: 1px;
    border: none;
  }
  div.trademarks {
    display: grid;
    // padding: 0.6em;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    // grid-gap: 0.4em;
    a > img {
      border-radius: 4px;
      border: 1px solid $colorDark;
    }
  }
  div.other_marks {
    hr { display: none; }
    display: grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    a {
      width: auto;
      box-shadow: none;
      border: 1px solid $colorDark !important;
      color: $colorDark !important;
      a { border: none !important; }
      &:hover { color: $colorNorm !important;}
    }
  }
  /* Search history */
  div.sideSearchHistory {
    a {
      display: inline-block;
      border-radius: 4px;
      border: 1px solid $colorDark;
      padding: 4px;
      margin: 4px;
      font-size: large;
    }
    span.clearSearch {
      display: inline-block;
      color: $colorDark !important;
      border: 1px solid $colorDark;
      border-radius: 4px;
      padding: 4px;
      margin: 4px;
      font-size: large;
    }
    hr { display: none; }
  }
}

/* ================== Side Bar (LEFT) ================== */
// .side > br {
//  display: none;
// }
// .simAdsx {
//   border: 1px solid $colorDark !important;
// }

div.side {
  div.simAdsx {
    border: 1px solid $colorDark !important;
  }
  br { display: none }
}

/* ================== Comments Boxes ================== */
.comment {
  border: 1px solid $colorDark !important;
}
.commentHeader {
  font-family: $fontContent;
  font-size: $fontNormal;
  border-bottom: 1px solid $colorDark !important;
  border-radius: 5px 5px 0px 0px;
}
.commentBody {
  font-family: $fontContent !important;
}
.commentFooter {
  border-radius: 0px 0px 5px 5px;
}

/* ================== Header and main menu ================== */
header > div.headLinks,
header > div.headLinksScroll {
  background: $colorLite;
  overflow: auto;
  text-align: center !important;
  a {
    background: $colorLite;
    color: $colorDark;
    border: 1px solid $colorDark;
    padding: 4px;
    border-radius: 4px;
    font-size: larger;
  }
}

/* ================== Badges (user page) ================== */
div.side {
  ul.badges > li {
    span {
      border: 1px solid $colorDark;
    }
  }
  /* see all ratings, add rating (thubsup) */
  ul.badges + a,
  a:nth-child(7),
  a:nth-child(8) {

    display: block;
  }

}

/* ================== Content pages ================== */
div.singleContent {
  font-family: $fontContent;
  font-size: x-large;
  h1, h2, h3, h4 {
    font-family: $fontTitle;
    color: $colorDark;
  }
  h3 {
    font-size: $fontLarge;
  }
  h4 {
    font-size: $fontNormal;
  }
}


/* ================== Real estate search popup ================== */
div#neighborhoodSearchContent > div.autoCompleteResultContent {
  div.autoCompleteResult {
    font-family: $fontContent !important;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      border: 1px solid $colorDark;
      border-radius: 4px;
      padding: 4px;
      margin: 4px;
      list-style: none;
    }
  }
}
div#searchBoxContent {
  font-family: $fontContent !important;
}

/* ================== Main Page tagFilters ================== */
div.tagFilters {
  div > form {
    a.tag {
      color: $colorDark;
      border: 1px solid $colorDark;
    }
  }
}
