/* ================== Imports ================== */
@import "../scss/fonts";
@import "../scss/variables";

/* ================== General ================== */
body {
  background: $colorLite;
  color: $colorDark;
}
div.singleContent {
  color: $colorDark;
}

  div.singleContent > hr {
  color: $colorDark;
  background: $colorDark !important;
  height: 1px;
  border: none;
}
i.fa  + br,
i.fa  + br + br {
  display: unset;
}

/* ================== Rating Box ================== */
div.ratingbox {
  border: 1px solid $colorDark;
  border-radius: 4px;
  margin-bottom: 0.6em;
  & > span {
    display: block;
    margin-bottom: 0.3em;
    a {
      border: 1px solid $colorNorm;
      padding: 0 4px 0 4px;
      border-radius: 4px;
    }
  }
  h4 {
    font-size: large !important;
    &.red {
      color:$harajRed !important;
    }
    &.green {
      color: $harajGreen !important;
    }
  }

}
