/* ================== Themes ================== */
/* Theme: Plum */
$colorDark: #786058;
$colorNorm: #A89890;
$colorLite: #D8D0C8;
/* Theme: SiM-0nE */
$colorDark: #8D8DBD;
$colorNorm: #A8A9CE;
$colorLite: #D9D9E9;
/* Theme: Purple */
$colorDark: #A052B6;
$colorNorm: #BB86CA;
$colorLite: #DFC1E7;
/* Theme: Blue */
$colorDark: #4F71BA;
$colorNorm: #8CAAE6;
$colorLite: #CDDBF7;

$harajBlue:  #0473C0;
$harajRed:   #d03333;
$harajGreen: #028201;

/* ================== Typography ================== */
$fontSmall: 0.7em;
$fontNormal: 1.0em;
$fontLarge: 1.4em;
$fontTitle: "Tajawal", sans-serif;
$fontContent: "Markazi Text", serif;
